<a href="https://colab.research.google.com/github/khanapujiyanti/M2P1V3_Struktur_Data_Tuple/blob/main/M2P1V3_Struktur_Data_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Struktur Data Tuple

Tuple adalah jenis dari stuktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan data yang bersifat sekali tulis,dandapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple
T1 = (1, "Dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'Dua', True, (1+2j))

In [ ]:
#Menampilkan tipe struktur data
type(T1)

tuple

Latihan

In [ ]:
#Buatlah tuplemu sendiri
t1 = ("tujuh", 4, 3+9j, False)
print("ini tuple", t1)

ini tuple ('tujuh', 4, (3+9j), False)

tuple

Sifat-sifat tuple

In [ ]:
#terurut/Ordered
T1[0:3]

(1, 'Dua', True)

In [ ]:
#Tidak bisa diganti/Immutable
T1[2] = "Manusia"

TypeError: ignored

In [ ]:
#Dapat diindeks/sciling
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: Dua

In [ ]:
#Dapaat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

Menggabungkan tuple

In [ ]:
#Menggabungkan Tuple
T3 = T1+T2
T3

(1, 'Dua', True, (1+2j), 3, 2.4, True, 2.4)

Latihan 2

In [ ]:
#Buatlah Tuple kedua, lalu gabungkan 2 tuple yang telah kamu buat
#Tuple kedua:
t2 = (True, 3.6, "lima", 1)
#Menggabungkan tuple
t3 = t2+t1
t3

(True, 3.6, 'lima', 1, 'tujuh', 4, (3+9j), False)